* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    border: 2px solid buttonface;
}
button:hover {
    background-color: black;
    color: buttonface;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom right, green, black);
}
header {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
#board-container {
    border: 2px solid white;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board-container button {
    height: min-content;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}
.gameboard {
    border: 2px solid red;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gameboard>p {
    font-size: 5rem;
    color: white;
    text-align: center;
    align-self: center;
}